<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.sumaga.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.sumaga.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.sumaga.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrivilegeController</servlet-name>
        <servlet-class>com.sumaga.controller.PrivilegeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeController</servlet-name>
        <servlet-class>com.sumaga.controller.EmployeeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankController</servlet-name>
        <servlet-class>com.sumaga.controller.BankController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceController</servlet-name>
        <servlet-class>com.sumaga.controller.AttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllowanceController</servlet-name>
        <servlet-class>com.sumaga.controller.AllowanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalaryController</servlet-name>
        <servlet-class>com.sumaga.controller.SalaryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uploader</servlet-name>
        <servlet-class>com.sumaga.util.uploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>com.sumaga.controller.ReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUploader</servlet-name>
        <servlet-class>com.sumaga.util.ImageUploader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uploader</servlet-name>
        <url-pattern>/Uploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUploader</servlet-name>
        <url-pattern>/ImageUploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalaryController</servlet-name>
        <url-pattern>/Salary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllowanceController</servlet-name>
        <url-pattern>/Allowance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceController</servlet-name>
        <url-pattern>/Attendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankController</servlet-name>
        <url-pattern>/Bank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeController</servlet-name>
        <url-pattern>/Employee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrivilegeController</servlet-name>
        <url-pattern>/Privilege</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
